.c4{

}
.c4-under-wrap{
    display: flex;
    gap: 0.8rem;
    width: 100%;
    height: 7.5rem;
    background: #e3fe73;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 4.3rem;
}
.c4-under-wrap p{
    font-family: var(--font-family);
font-weight: 400;
font-size: 2rem;
text-transform: uppercase;
text-align: center;
color: #000;
}
.c4-wrapper{

}
.c4-wrap{

}
.c4-title-wrap{
    width: 100%;
    height: 15.5rem;
    border-radius: 2rem;
    background-image: url(../../images/c4-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--font-family);
font-weight: 200;
font-size: 4.5rem;
text-transform: uppercase;
text-align: center;
color: #fff;
display: flex;
align-items: center;
justify-content: center;

}
.c4-title-wrap2{
    background-image: url(../../images/c4-2.jpg);
}
.c4-title-wrap3{
    background-image: url(../../images/c4-3.jpg);
    font-family: var(--font-family);
font-weight: 200;
font-size: 4rem;
line-height: 75%;
text-transform: uppercase;
text-align: center;
color: #000;
}
.c4-item{
    margin-top: 2.5rem;
}
.c4-item-wrap{
    display: flex;
    gap: 3.6rem;
    padding: 1.7rem 0.7rem;
    border-bottom: 1px solid #e2e2e2;
}
.c4-item-wrap:nth-child(1){
    gap: 4.8rem;
}
.c4-item-wrap:nth-child(3){
    gap: 3.4rem;
}
.c4-price-old{
font-family: var(--font-family);
font-weight: 200;
font-size: 3.5rem;
letter-spacing: -0.06em;
color: #000;
position: relative;
}
.c4-price-old::before{
    content: "";
    width: 100%;
    height: 0rem;
    border: 1px solid #000;
    position: absolute;
    top: 50%;
}
.c4-price-new{
    font-family: var(--font-family);
font-weight: 500;
font-size: 3.5rem;
letter-spacing: -0.06em;
color: #000;
}